server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/toy
    username: ${DB_USERNAME:toy}
    password: ${DB_PASSWORD:toy00}
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100

security:
  jwt:
    secret: ${JWT_SECRET:vj9g4oRmXLDYW9fuGHZdkpSgHALhTCi6LZoiSaVyCF4=}
    access-token-expire-minutes: ${JWT_EXPIRE_MINUTES:120}
    refresh-token-expire-days: ${JWT_REFRESH_DAYS:30}
