server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /
  forward-headers-strategy: framework

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/daily-record
    username: ${DB_USERNAME:toy}
    password: ${DB_PASSWORD:toy00}
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100

security:
  jwt:
    secret: ${JWT_SECRET:vj9g4oRmXLDYW9fuGHZdkpSgHALhTCi6LZoiSaVyCF4=}
    access-token-expire-minutes: ${JWT_EXPIRE_MINUTES:120}
    refresh-token-expire-days: ${JWT_REFRESH_DAYS:30}

cors:
  allowed-origin-patterns: ${CORS_ALLOWED_ORIGIN_PATTERNS:http://localhost:*,http://192.168.0.*:*}
